### Results. 

* This should be each user's direct feedback as much as possible (either their written summary or quotes from an audio recording made during the test) rather than your interpretation of their feedback.

### Positive feedback.

* Summarize the top good things about the app that you feel are important to be kept in the app. Ideally, these would be similar comments made by multiple testers.

### What could be improved. 

* Summarize the top things about the app that users commented critically about, regardless of whether or not you agree with the users or if they seem to contradictory. If any of these comments are made by multiple testers, make sure to note that as well.
