### Results. 

* This should be each user's direct feedback as much as possible (either their written summary or quotes from an audio recording made during the test) rather than your interpretation of their feedback.

### Positive feedback.

* Summarize the top good things about the app that you feel are important to be kept in the app. Ideally, these would be similar comments made by multiple testers.

* The main positive feedback that we got was that our app was easy to understand and navigate for the most part. All of the users had zero problems with creating an account and logging into the app. When they got to our measures screen, they were a little confused at first, but after they fiddled with the shortcuts and saw what they did, they were comfortable with the measures screen. Then, when they got to the challenges screen, they understood what its purpose was and what it asked of users. Overall, users gave positive feedback about the navigation of our app and the measures and challenges screens after getting familiar with it, which is evidence for how valuable an onboarding walkthrough would be for our app. 

### What could be improved. 

* Summarize the top things about the app that users commented critically about, regardless of whether or not you agree with the users or if they seem to contradictory. If any of these comments are made by multiple testers, make sure to note that as well.