### Results. 

* This should be each user's direct feedback as much as possible (either their written summary or quotes from an audio recording made during the test) rather than your interpretation of their feedback.

* User 1 was confused on the timing of when the health kit permissions page popped up, they said it would be better if it popped up after the account was created rather than when you first click on "create an account". They also said they had a tough time seeing the back button when navigating around. They said they had a difficult time finding the edit button when they were trying to edit a shortcut's value. In fact, all of our users had a difficult time finding the edit button on the settings page. They all said they tapped on the shortcut icon for a while and wasn't until a bit later that they found the edit button in the top right corner. One user said that we should move the edit button down to where the shortcuts are in the settings page so it's easy for the user to know where to click. Another user reported that initially the measures screen was a bit intimidating but after a little while using it said it was simple and easy to navigate. Two of the users also stated that we should try and find a different icon for the editing since the icon we had wasn't easy to tell it was for editing.


### Positive feedback.

* Summarize the top good things about the app that you feel are important to be kept in the app. Ideally, these would be similar comments made by multiple testers.

* The main positive feedback that we got was that our app was easy to understand and navigate for the most part. All of the users had zero problems with creating an account and logging into the app. When they got to our measures screen, they were a little confused at first, but after they fiddled with the shortcuts and saw what they did, they were comfortable with the measures screen. Then, when they got to the challenges screen, they understood what its purpose was and what it asked of users. Overall, users gave positive feedback about the navigation of our app and the measures and challenges screens after getting familiar with it, which is evidence for how valuable an onboarding walkthrough would be for our app. 

### What could be improved. 

* Summarize the top things about the app that users commented critically about, regardless of whether or not you agree with the users or if they seem to contradictory. If any of these comments are made by multiple testers, make sure to note that as well.